## Датасет собран из базы данных переписи 1994 года и содержит данные о доходах.
### Информация о данных:
* age: continuous.
* workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, * Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num: continuous.
* marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex: Female, Male.
* capital-gain: continuous.
* capital-loss: continuous.
* hours-per-week: continuous.
* native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary: >50K,<=50K

## Проведите анализ данных при помощи Pandas выполнив поставленные задачи.
####

In [2]:
import pandas as pd
from utils.design import *
from consts import DF_CSV_PATH

data = pd.read_csv(DF_CSV_PATH)

**1. Посчитайте, сколько мужчин и женщин (признак *sex*) представлено в этом датасете**

In [3]:
Message.print_message(
    f"Количество мужчин в этом датасете - {data[data['sex'] == 'Male'].shape[0]}",
    Color.BLUE,
    Color.LIGHT_WHITE
)

Message.print_message(
    f"Количество женщин в этом датасете - {data[data['sex'] == 'Female'].shape[0]}",
    Color.RED,
    Color.LIGHT_WHITE
)

+-------------------------------------------+
| Количество мужчин в этом датасете - 21790 |
+-------------------------------------------+

+-------------------------------------------+
| Количество женщин в этом датасете - 10771 |
+-------------------------------------------+

**2. Каков средний возраст мужчин (признак *age*) по всему датасету?**

In [4]:
avg_age = data[data['sex']== 'Male']['age'].mean()

Message.print_message(
    f"Средний возраст мужчин по всему датасету - {avg_age:.2f}",
    Color.GREEN,
    Color.LIGHT_WHITE
)

+--------------------------------------------------+
| Средний возраст мужчин по всему датасету - 39.43 |
+--------------------------------------------------+

**3. Какова доля граждан Соединенных Штатов (признак *native-country*)?**

In [5]:
total = len(data)
us_citizens = (data['native-country'] == 'United-States').sum()
answer = us_citizens / total if total else 0

Message.print_message(
    f"Доля граждан Соединенных Штатов в этом датасете - {answer:.3f}",
    Color.GREEN,
    Color.LIGHT_WHITE
)

+---------------------------------------------------------+
| Доля граждан Соединенных Штатов в этом датасете - 0.896 |
+---------------------------------------------------------+

**4-5. Рассчитайте среднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год**

In [4]:
mean1, mean2 = (data[data['salary'] == '<=50K']['age'].mean(),
                data[data['salary'] == '>50K']['age'].mean())

std1, std2 = (data[data['salary'] == '<=50K']['age'].std(),
              data[data['salary'] == '>50K']['age'].std())

Message.print_message(
    f"Cреднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год - {mean1:.2f} и {std1:.2f}",
    Color.GREEN,
    Color.LIGHT_WHITE
)

Message.print_message(
    f"Cреднее значение и среднеквадратичное отклонение возраста тех, кто получает менее 50K в год - {mean2:.2f} и {std2:.2f}",
    Color.BLUE,
    Color.LIGHT_WHITE
)

+-------------------------------------------------------------------------------------------------------------+
| Cреднее значение и среднеквадратичное отклонение возраста тех, кто получает более 50K в год - 36.78 и 14.02 |
+-------------------------------------------------------------------------------------------------------------+

+-------------------------------------------------------------------------------------------------------------+
| Cреднее значение и среднеквадратичное отклонение возраста тех, кто получает менее 50K в год - 44.25 и 10.52 |
+-------------------------------------------------------------------------------------------------------------+

**6. Правда ли, что люди, которые получают больше 50k, имеют минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [7]:
higher_education = ['Bachelors', 'Prof-school', 'Assoc-acdm',
                    'Assoc-voc', 'Masters', 'Doctorate']

mask = data['salary'] == '>50K'

answer = 'Правда' if data.loc[mask, 'education'].isin(higher_education).all() else 'Ложь'

Message.print_message(
    f"Люди, которые получают больше 50k, имеют минимум высшее образование - {answer}",
    Color.YELLOW,
    Color.LIGHT_WHITE
)

+----------------------------------------------------------------------------+
| Люди, которые получают больше 50k, имеют минимум высшее образование - Ложь |
+----------------------------------------------------------------------------+

**7. Выведите статистику возраста для каждой расы (признак *race*) и каждого пола. Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин расы *Asian-Pac-Islander*.**

In [8]:
age_stats = data.groupby(['race', 'sex'])['age'].describe()

max_age = age_stats.loc[('Asian-Pac-Islander', 'Male'), 'max']

Message.print_message(
    f"Максимальный возраст мужчин расы Asian-Pac-Islander равен {max_age}",
    Color.BLUE,
    Color.LIGHT_WHITE
)

Message.print_message(
    f"Cтатистика возраста для каждой расы и каждого пола отображена ниже:",
    Color.PURPLE,
    Color.LIGHT_WHITE
)

age_stats

+----------------------------------------------------------------+
| Максимальный возраст мужчин расы Asian-Pac-Islander равен 90.0 |
+----------------------------------------------------------------+

+---------------------------------------------------------------------+
| Cтатистика возраста для каждой расы и каждого пола отображена ниже: |
+---------------------------------------------------------------------+

                             count       mean        std   min   25%   50%  \
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               sex
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [9]:
count_of_mens = data[(data['salary'] == '>50K') & (data['sex'] == 'Male')].shape[0]

married = data[(data['salary'] == '>50K') & (data['sex'] == 'Male') & (data['marital-status'].str.startswith('Married'))].shape[0]

un_married = count_of_mens - married

Message.print_message(
    f"Можно брать долю среди всех людей, а можно брать долю среди только мужчин, но на ответе это не скажется.",
    Color.PURPLE,
    Color.CYAN
)
Message.print_message(
    f"Доля зарабатывающих много (>50K) среди женатых мужчин {round(married / count_of_mens, 2)}",
    Color.YELLOW,
    Color.LIGHT_WHITE
)

Message.print_message(
    f"Доля зарабатывающих много (>50K) среди холостых мужчин {round(un_married / count_of_mens, 2)}",
    Color.RED,
    Color.LIGHT_WHITE
)

Message.print_message(
    f"Доля зарабатывающих много (>50K) среди ЖЕНАТЫХ мужчин БОЛЬШЕ" if married > un_married else
    f"Доля зарабатывающих много (>50K) среди ХОЛОСТЫХ мужчин БОЛЬШЕ",
    Color.PURPLE,
    Color.LIGHT_WHITE
)

+----------------------------------------------------------------------------------------------------------+
| Можно брать долю среди всех людей, а можно брать долю среди только мужчин, но на ответе это не скажется. |
+----------------------------------------------------------------------------------------------------------+

+-----------------------------------------------------------+
| Доля зарабатывающих много (>50K) среди женатых мужчин 0.9 |
+-----------------------------------------------------------+

+------------------------------------------------------------+
| Доля зарабатывающих много (>50K) среди холостых мужчин 0.1 |
+------------------------------------------------------------+

+--------------------------------------------------------------+
| Доля зарабатывающих много (>50K) среди ЖЕНАТЫХ мужчин БОЛЬШЕ |
+--------------------------------------------------------------+

**9. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [10]:
max_hours_per_week = data['hours-per-week'].max()

total_count_of_people = data[data['hours-per-week'] == max_hours_per_week].shape[0]
count_of_people_with_high_salary = data[(data['hours-per-week'] == max_hours_per_week) & (data['salary'] == '>50K')].shape[0]

percent_high_salary = (
    count_of_people_with_high_salary * 100 / total_count_of_people
    if total_count_of_people > 0 else 0
)

Message.print_message(
    f"Максимальное число часов человек работает в неделю - {max_hours_per_week}",
    Color.BLUE,
    Color.LIGHT_WHITE
)

Message.print_message(
    f"Количество людей, которые работают {max_hours_per_week} ч в неделю ВСЕГО - {total_count_of_people}",
    Color.GREEN,
    Color.LIGHT_WHITE
)

Message.print_message(
    f"Количество людей, которые работают {max_hours_per_week} ч в неделю СРЕДИ МНОГО ЗАРАБАТЫВАЮЩИХ - {count_of_people_with_high_salary}",
    Color.CYAN,
    Color.LIGHT_WHITE
)

Message.print_message(
    f"Процент людей, которые работают {max_hours_per_week} ч в неделю и зарабатывают много - {percent_high_salary:.2f}%",
    Color.RED,
    Color.LIGHT_WHITE
)

+---------------------------------------------------------+
| Максимальное число часов человек работает в неделю - 99 |
+---------------------------------------------------------+

+-------------------------------------------------------------+
| Количество людей, которые работают 99 ч в неделю ВСЕГО - 85 |
+-------------------------------------------------------------+

+----------------------------------------------------------------------------------+
| Количество людей, которые работают 99 ч в неделю СРЕДИ МНОГО ЗАРАБАТЫВАЮЩИХ - 25 |
+----------------------------------------------------------------------------------+

+-----------------------------------------------------------------------------+
| Процент людей, которые работают 99 ч в неделю и зарабатывают много - 29.41% |
+-----------------------------------------------------------------------------+

**10. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [11]:
filtered_data = data[data['native-country'] != '?']

avg_hours_per_week = filtered_data.groupby(['native-country', 'salary'])['hours-per-week'].mean().round(3)

Message.print_message(
    'Cреднее время работы зарабатывающих мало и много для каждой страны отображено в таблице ниже: ',
    Color.BLUE,
    Color.LIGHT_WHITE
)

avg_hours_per_week

+------------------------------------------------------------------------------------------------+
| Cреднее время работы зарабатывающих мало и много для каждой страны отображено в таблице ниже:  |
+------------------------------------------------------------------------------------------------+

native-country  salary
Cambodia        <=50K     41.417
                >50K      40.000
Canada          <=50K     37.915
                >50K      45.641
China           <=50K     37.382
                           ...
United-States   >50K      45.505
Vietnam         <=50K     37.194
                >50K      39.200
Yugoslavia      <=50K     41.600
                >50K      49.500
Name: hours-per-week, Length: 80, dtype: float64

**11.Сгруппируйте людей по возрастным группам *young*, *adult*, *retiree*, где:**
* *young* соответствует 16-35 лет
* *adult* - 35-70 лет
* *retiree* - 70-100 лет

**Проставьте название соответсвтуещей группы для каждого человека в новой колонке AgeGroup**

In [12]:
diapason = [16, 35, 70, 100]

labels = ['Young', 'Adult', 'Retiree']

data['AgeGroup'] = pd.cut(x=data['age'],
                          bins=diapason,
                          labels=labels)

Message.print_message(
    'Группировка людей по возрастным группам (young, adult, retiree) отображена в новой колонке AgeGroup в таблице ниже:',
    Color.GREEN,
    Color.LIGHT_WHITE
)

data.groupby(['AgeGroup'], observed=True).agg({'age': 'count'})

+---------------------------------------------------------------------------------------------------------------------+
| Группировка людей по возрастным группам (young, adult, retiree) отображена в новой колонке AgeGroup в таблице ниже: |
+---------------------------------------------------------------------------------------------------------------------+

            age
AgeGroup
Young     14925
Adult     17096
Retiree     540

**12-13. Определите количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup), а также выведите название возрастной группы, в которой чаще зарабатывают больше 50К (>50K)**

In [13]:
age_category = {'Adult': 'Взрослая', 'Young': 'Молодая', 'Retire': 'Пожилая'}

high_salary = data[data['salary'] == '>50K']
age_groups = high_salary['AgeGroup'].value_counts()
answer = age_groups.idxmax()

Message.print_message(
    f'Название возрастной группы, в которой чаще зарабатывают больше 50К - {age_category[answer]}',
    Color.GREEN,
    Color.LIGHT_WHITE
)

Message.print_message(
    'Количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup) отображено в таблице ниже: ',
    Color.BLUE,
    Color.LIGHT_WHITE
)

data.groupby(['AgeGroup', 'salary'], observed=True).agg({'salary': 'count'})

+-------------------------------------------------------------------------------+
| Название возрастной группы, в которой чаще зарабатывают больше 50К - Взрослая |
+-------------------------------------------------------------------------------+

+------------------------------------------------------------------------------------------------------------+
| Количество зарабатывающих >50K в каждой из возрастных групп (колонка AgeGroup) отображено в таблице ниже:  |
+------------------------------------------------------------------------------------------------------------+

                 salary
AgeGroup salary
Young    <=50K    13220
         >50K      1705
Adult    <=50K    11054
         >50K      6042
Retiree  <=50K      446
         >50K        94

**14. Сгруппируйте людей по типу занятости (колонка occupation) и определите количество людей в каждой группе. После чего напишите функциюю фильтрации filter_func, которая будет возвращать только те группы, в которых средний возраст (колонка age) не больше 40 и в которых все работники отрабатывают более 5 часов в неделю (колонка hours-per-week)**

In [20]:
filtered_data = data[data['occupation'] != '?']

avg_age = filtered_data['occupation'].value_counts()

Message.print_message(
    'Типы занятости и количество людей в каждой группе отображены в таблице ниже:',
    Color.GREEN,
    Color.LIGHT_WHITE
)

print(avg_age)

def filter_func(dataset: pd.DataFrame):
    age_condition = dataset['age'].mean() <= 40
    hours_condition = (dataset['hours-per-week'] > 5).all()
    return age_condition and hours_condition

grouped_occupations = filtered_data.groupby('occupation').filter(filter_func)

passed_occupations = grouped_occupations['occupation'].unique()

Message.print_message(
    f'Типы занятости, прошедшие фильтрацию (ср. возраст ≤ 40 и все >5 часов/нед): {passed_occupations}',
    Color.PURPLE,
    Color.LIGHT_WHITE
)

Message.print_message(
    'Итоговые группы после фильтрации отображены в таблице ниже:',
    Color.BLUE,
    Color.LIGHT_WHITE
)

grouped_occupations

+------------------------------------------------------------------------------+
| Типы занятости и количество людей в каждой группе отображены в таблице ниже: |
+------------------------------------------------------------------------------+
occupation
Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: count, dtype: int64

+----------------------------------------------------------------------------------------------+
| Типы занятости, прошедшие фильтрацию (ср. возраст ≤ 40 и все >5 часов/нед): ['Armed-Forces'] |
+----------------------------------------------------------------------------------------------+

+-------------------------------------------------------------+
| Итоговые группы после фильтрации отображены в таблице ниже: |
+-------------------------------------------------------------+

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,AgeGroup
442,24,Federal-gov,191073,HS-grad,9,Never-married,Armed-Forces,Own-child,White,Male,0,0,40,United-States,<=50K,Young
1300,29,Federal-gov,301010,Some-college,10,Never-married,Armed-Forces,Not-in-family,Black,Male,0,0,60,United-States,<=50K,Young
14613,39,Federal-gov,227597,HS-grad,9,Never-married,Armed-Forces,Not-in-family,White,Male,0,0,50,United-States,<=50K,Adult
16111,24,Federal-gov,287988,Bachelors,13,Never-married,Armed-Forces,Not-in-family,White,Male,0,0,40,United-States,<=50K,Young
18034,34,Federal-gov,172716,12th,8,Married-civ-spouse,Armed-Forces,Husband,White,Male,0,0,40,United-States,<=50K,Young
18644,23,Federal-gov,163870,Some-college,10,Never-married,Armed-Forces,Other-relative,White,Male,0,0,40,United-States,<=50K,Young
18769,30,Federal-gov,76313,HS-grad,9,Married-civ-spouse,Armed-Forces,Other-relative,Amer-Indian-Eskimo,Male,0,0,48,United-States,<=50K,Young
25799,46,Federal-gov,344415,Masters,14,Married-civ-spouse,Armed-Forces,Husband,White,Male,0,1887,40,United-States,>50K,Adult
32316,23,Federal-gov,173851,HS-grad,9,Never-married,Armed-Forces,Not-in-family,White,Male,0,0,8,United-States,<=50K,Young

In [3]:
Developer.print_info_of_developer()

+--------------------------------------------------------------+
| Задание было выполнено стажером Big Data в компании Innowise |
+--------------------------------------------------------------+

+--------------------------------------------------+
| Big Data Engineer: Панфиленко Станислав Игоревич |
+--------------------------------------------------+

+----------------------------------------------------------+
| Личная электронная почта: stanislav.panfilenko@gmail.com |
+----------------------------------------------------------+